<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>人员信息</title>
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>
    <h1>人员列表</h1>
    <!--判断人员列表是否为空-->
    <table th:unless="${#lists.isEmpty(personList)}">
        <tr>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>毕业学校</th>
        </tr>
        <!--循环遍历人员列表-->
        <tr th:each="person : ${personList}">
            <td th:text="${person.name}"></td>
            <td th:text="${person.age}"></td>
            <td th:text="${person.gender}"></td>
            <td th:text="${person.schoolName}"></td>
        </tr>
    </table>
    <br/>
    <div class="msg" th:if="${#lists.isEmpty(personList)}">暂时没有人员信息！！@@</div>
    <form method="POST" action="/person/add">
        <input name="name" id="name" type="text" value="test" placeholder="姓名"/><br/>
        <input name="age" id="age" type="text" value="32" placeholder="年龄"/><br/>
        <input name="gender" id="gender" type="text" value="male" placeholder="性别"/><br/>
        <input name="schoolName" id="schoolName" type="text" value="BJU" placeholder="毕业学校"/><br/>
        <input type="submit" value="新增+"/>
    </form>

</body>
</html>